@charset "utf-8";
/* CSS Document */
/* Remove bullet points, padding and margin from list items. Create navigaion container shape. */
    ul.topnav {
        list-style-type: none;
        padding: 0;
        background-color: #392e3a;
        width: 100%;
        height: 54px;
        margin: auto;
    }

    ul.dropdown-content {
        list-style-type: none;
    }

    nav ul.topnav li {
        text-align: center;
    }

    .fa-arrow-circle-o-left {
        color: #f2f2f2;
    }

/* Style the links inside the list items */
    nav ul.topnav li a {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #CDCDCD;
        background-color: #392e3a;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

@media all and (min-width:901px) {
    ul.topnav {
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 54px;
        width: 100%;
    }
   
/* change background color of links on hover */
    nav ul.topnav li a:not(.selected):hover {
        background-color: #555555;
    }
      
/* add border inside navigation on selected page link */
    ul.topnav li a.selected {
        padding: 11px 13px;
        margin: 2px;
        border: 2px solid #f2f2f2;     
    }

/* Hide the list item containing the link to open and close the topnav on small screens */
    ul.topnav li.icon {
        display: none;
    }

/* Dropdown Button */
#dropbtn {
    background-color: #f2f2f2;
    color:#0e1111;
    font-size: 15px;
    margin-right: 1%;
    border: none;
    cursor: pointer;
    outline: none;
  }

  #dropbtn:focus {
      border: none;
      outline: none;
  }
  
  /* Dropdown button on hover & focus */
  #dropbtn:hover {
    background-color: #555555;
  }
  
  /* The container <div> - needed to position the dropdown content */
  ul.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    color: #0e1111;
    background-color: #f2f2f2;
    min-width: 160px;
    margin-left: 1.5%;
   /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
}
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

  /*  ul. > li a {
        display: none;
    }

    ul.myCSS.responsive {
        list-style-type: none;
        display: block;
        position: relative;
    }*/


   /* #myTopnav > ul:after(onClick){
        clear: both;
        content: '';
        display: table;
      }*/
    

/* Hide list items on smaller screens and display list container icon */
@media all and (max-width:900px){


/* Gather list items to one side of container */
    ul.topnav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 54px;
        background-color: #392e3a;;
    }

    ul.topnav li, .dropdown-content {
        display: none;
    }

    ul.topnav li.icon { 
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
    }
   
}

/* Connect to Javascript on icon click. */
@media all and (max-width:900px) {
   ul.topnav.responsive {
        width: 100%;
        display: block;
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    ul.topnav.responsive.dropdown-content li a.show {
        display: block;
        text-align: left;
        position: relative;
    }

    nav ul.topnav.responsive li a.selected {
        color: #CDCDCD;
        background: linear-gradient(to left, #392e3a 40%, #555555 40%, #555555 60%);
    }
    
       /* #cssmenu > ul:after(onClick){
            clear: both;
            content: '';
            display: table;
          }*/
     

}



  NAV B NOT WORKING
/* .dropdown {
        display: inline;
        overflow: hidden;
    }

/* Dropdown Button */
/*#dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #392e3a;
    color: #f2f2f2;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
} */

/*#dropbtn:focus {
      border: none;
      outline: none;
  } */
  
  /* Dropdown button on hover & focus */
  /*#dropbtn:hover {
    background-color: #555555;
  } */
  
  /* The container <div> - needed to position the dropdown content */
 /* #myDropdown {
    position: relative;
    display: none;
  } */
  
  /* Dropdown Content (Hidden by Default) */
 /* .dropdown-content {
    display: none;
    position: absolute;
    color: #0e1111;
    background-color: #f2f2f2;
    min-width: 160px;
   /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 1;
  } */
  
  /* Links inside the dropdown */
 /*.dropdown-content li a {
    float: none;
    color: #f2f2f2;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
  } */
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}
}*/
  /*  ul. > li a {
        display: none;
    }

    ul.myCSS.responsive {
        list-style-type: none;
        display: block;
        position: relative;
    }*/


   /* #myTopnav > ul:after(onClick){
        clear: both;
        content: '';
        display: table;
      }*/  