@charset "utf-8";
/* My IT162 Portal Website Styles */

    html, body {
        background-color:#cccccc;
        height: 100%;
    }

    main.wrapper {
        background-color:#fbfaf6;
        overflow: auto;
        height: 98%;
    }

    h1>a {
        text-decoration: none;
        color:#000;
    }

    .logo {
        transform: scale(2);
        filter: invert(100%);
        margin-right: 1%;
        margin-left: 4%;
        text-shadow: 1px 1px #cccccc;
        font-size: 1.25em;
    }

    span.first, .pageID {
        font-family:'Permanent Marker', regular;
    }

    nav, footer {
        font-family:'Roboto', sans-serif;
        font-weight: 100;
    }


/* Embed Responsive Rules */
    div.embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin: auto;
        max-width: 98%;
    }

    div.embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    footer {
        background-color:#fbfaf6;
        padding-left: 1%;
        margin-left: 4%;
        padding-top: 1%;
        margin-top: 4%;
	    clear: both;
    }

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
    main.wrapper {
        background-color:#fbfaf6;
        margin: auto;
        width: 100%;
        height: 100%;
	}

     .pageID {
        display: block;
        padding: 1%;
        margin: 4%;
    }

    section {
		width: 25%;
        display: block;
        float: left;
        padding-left: 1%;
        margin-left: 4%
	}

    section img.desktop {
       width: 100%; 
       display: block;
       padding-left: 1%;
       margin-left: 4%;
       padding-bottom: 1%;
       margin-bottom: 3%;
    }

    section p.p1 {
       width: 80%;
       text-align: justify;
       display: none;
       padding-left: 1%;
       margin-left: 4%;
       margin-right: .25%;
    }

    section p.p2 {
        width: 80%;
        display: none;
        text-align: justify;
        padding-left: 1%;
        margin-left: 4%;
        margin-right: .25%;
    }

    aside {
        float: right;
		width: 70%;
    }

    h3 {
        display: none;
    }
			
    .p3 {
        width: 80%;
        display: block;
        text-align: justify;
        padding: 2% 10% 1% 1%;
        margin: 8% 10% 2% 3%;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }

    .p4 {
        width: 80%;
        display: block;
        text-align: justify;
        padding: 0% 10% 0% 1%;
        margin: 0% 10% 0% 3%;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
    
    img.tablet, img.phone {
       	 display: none;
    }  

    footer {
        clear: both; 
        background-color:#fbfaf6;
        padding-left: 1%;
        margin-left: 4%;
        padding-top: 1%;
        margin-top: 4%;
       
    }
} 

/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {

    main.wrapper {
        margin: auto;
        width: 100%;
        height: 100%;
	}

    /* add border inside navigation on selected page link */
    ul.topnav li a.selected {
        padding: 11px 13px;
        margin: 2px;
        border: 2px solid #ffffff;      
    }
    
    section {
		width: 55%;
		float: left;
        margin-left: 3%;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
	}
	
	aside {	
		width: 39%;
		display: inline-block;
        margin-top: 4%;
	}

    h3 {
        display: none;
    }

    .p3, .p4 {
        display: none;
    }
    
    img.tablet {
       	width: 90%;
        display: inline-block;
        padding-left: 3%;
        margin-left: 3%;
    }

    img.desktop, img.phone {
       	display: none;
    }  

} 


/* PHONE */
@media all and (max-width:736px) {
    main.wrapper {
        overflow: auto;
        padding-right: 1%;
        padding-left: 2%;
    }

    .logo {
        transform: scale(1.5);
        padding-left: 2%;
        padding-right: 1%;
        margin: 1.5%;
    } 

    span.first {
        margin-left: 1.5%;
        margin-right: 1.5%;
        padding-left: 1%;
        text-align: justify;
        text-justify: auto;
      }

    .pageID {
        padding-left: 18px;
      
    }

    img.phone {
       	width: 60%;
        float: left;
        padding: 0px 5px 1px 18px;
        margin: 0px 15px 4px 1px;
    }
    
    section.p2 {
        padding-bottom: 10%;
    }

    .p1, .p2 {
        padding-right: 20px;
        padding-left: 18px;
        display: block;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }    
    
    img.tablet, img.desktop {
       	display: none;
    }  

    h3 {
        display: none;
    }

    .p3 {
        display: none;
    }

    .p4 {
        display: none;
    }

    footer {
        clear: both;
        padding-left: 1%;
        margin-left: 2%;
        padding-right: 1%;
        margin-right: 2%;
        padding-top: 1%;
        margin-top: 4%;
        background-color:#fbfaf6;
    }
}


